.body
    {
        background-image: url(../sourse/image/fonOMuseum.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
.roof
    {
        
        position: absolute;
        width: 1440px;
        height: 173px;
        left: 0px;
        top: 0px; 
        background-repeat: no-repeat;
        background-size:cover;
        background: url(../sourse/image/roof.png);
    }
.title
    {
        position: absolute;
        color: #FFFFFF;
        mix-blend-mode: normal;
        font-size: 47%;
        
    }
.les
    {
        position:absolute; 
        width: 262px;
        height: 313px;
        left: 61px;
        top: 199px;
        background-image: url("../sourse/image/lestnica.png");
        background-repeat: no-repeat;
        background-size: contain;

    }
#block1
    {
        position: absolute;
        width: 367px;
        height: 167px;
        left: 24px;
        top: 530px;
        background: #D98829;
        border-radius: 50px;
    }
#textblock1
    {
        position: absolute;
        top: -20%;
        margin-left:10%;
        font-style: normal;
        font-family: 'Book Antiqua';
        mix-blend-mode: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 77px;
        color: #000000;
    }
#textblock2
    {
        position: absolute;
        font-style: normal;
        font-family: 'Book Antiqua';
        mix-blend-mode: normal;
        top: 5%;
        font-weight: 350;
        font-size: 30px;
        line-height: 43px;
        color: #000000;
    }
#block2
    {
        position: absolute;
        width: 367px;
        height: 238px;
        left: 415px;
        top: 538px;
        background: #D98829;
        border-radius: 50px;
    }
#block3
    {
        position: absolute;
        width: 607px;
        height: 104px;
        left: 795px;
        top: 530px;
        background: #D98829;
        border-radius: 50px;
    }
#block4
    {
        position: absolute;
        width: 357px;
        height: 146px;
        left: 24px;
        top: 805px;
        background: #D98829;
        border-radius: 50px;
    }
#block5
    {
        position: absolute;
        width: 464px;
        height: 146px;
        left: 557px;
        top: 805px;
        background: #D98829;
        border-radius: 50px;
    }
#block6
    {
        position: absolute;
        width: 357px;
        height: 146px;
        left: 1061px;
        top: 805px;
        background: #D98829;
        border-radius: 50px;
    }
