@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body
    {
        background-image: url(../sourse/image/stenafon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
.navigation
    {
        display: flex;
        background-image: url(../sourse/image/fundamentfon.jpg);
        justify-content: justify;
        align-items: center;
        margin: 0;
        flex-flow: row wrap;
    }
.navigation a
    {
        text-decoration: none;
        display: block;
        padding: 30px;
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-size: 250%;
        padding-right: 35%;
        padding-left: 35%;
        color: rgb(0, 0, 0);
    }
.navigation img
    {
        display: block; 
        float: left; /* Выстраиваем элементы по горизонтали
    margin: 0 0 0 3.5%; /* Отступ слева
    background: #f0f0f0; /* Цвет фона 
    border-radius: 5px; /* Радиус скругления 
    padding: 2%; /* Поля */
        z-index: 3;
    }
.door
    {
        position: absolute;
        display: block;
        font-size: 1.8em;
        right: 5%;
        top: 45%;
        margin: 0;
        list-style-type: none;
        flex-flow: column wrap;
        z-index: 1;
    }
.door a
    {
        text-decoration: none;
        display: block;
        padding: 30px;
        margin-left: 100px;
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-size: 120%;
        text-align: left;
        color: rgb(212, 212, 212);
        z-index: 2;
    }
h1
    {
        text-decoration: none;
        display: block;
        padding: 30px;
        text-align: center;
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-size: 500%;
        color: rgb(0, 0, 0);
    }
h2
    {
        text-decoration: none;
        display: block;
        padding: 30px;
        text-align: center;
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-size: 250%;
        color: rgb(0, 0, 0);
    }
img1
    {
        display: block; 
        float: right;
        z-index: 2;
        padding-right: 85%;
        padding-top: 50%;
        height: 100px;
        width: 100px;
    }