body
    {
        background-image: url(../sourse/image/fonOMuseum.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
#blockTwoOMuseum
    {
        position: absolute;
        width: 1388px;
        height: 256px;
        left: 33px;
        top: 574px;
        background: #D98829;
        border-radius: 50px;
    }
#blockOneOMuseum
    {
        position: static;
        width: 1388px;
        height: 256px;
        left: 33px;
        top: 574px;
        background: #D98829;
        border-radius: 50px;
    }
#styleTextBlockTwo
    {
        position: absolute;
        color: #000000;
        mix-blend-mode: normal;
        font-size: xx-large;
    }
#styleTextBlockOne
    {
        position: static;
        color: #000000;
        mix-blend-mode: normal;
        font-size: xx-large;
    }
